## **Working with Jupyter Notebook**

**[esc]** switch from edit mode to command mode  
(notice a cursor inside the current cell)

In command mode
*   **A** &nbsp;&nbsp;&nbsp; Insert new cell above current cell
*   **B** &nbsp;&nbsp;&nbsp; Insert new cell below current cell
*   **M** &nbsp;&nbsp;&nbsp; Change to cell Markdown (text) cell
*   **Y** &nbsp;&nbsp;&nbsp; Change to cell Code cell

**[enter]** switch from command mode to edit mode
(notice an outline around the current cell)

*   **Alt+Enter** &nbsp; Run the current cell and insert new cell
*   **Ctrl + s** &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Save Notebook  

To download files:  [jupyter.org/try-jupyter/tree](https://jupyter.org/try-jupyter/tree)

## **Programming and Python**

Programming: ordered steps to reach a specific goal
* Goal can be **divided** into multiple steps
* Steps are **ordered**
* Result can be **determined** by the steps
* Ordered steps to reach goal are **repeatable**

In [ ]:
print("Hello World")

Hello World

*print* is a special word in Python  
Parenthesis () are used to hold input or *parameters*  
text in quotes are strings

### Exercise

Use *print* and let us know your favorite food

#### Hint:

In [ ]:
print("Replace me with your favorite food")

Replace me with your favorite food

## **Strings**

In Python, strings are surrounded by a pair of single or double quotes, just like you would do in Language class.  
Did you know in python you can add two strings?

*print* is a python **function**. A function a program with a single word as its name that performs a specific task for you.  

Often, you will also give a function some information or inputs (in programming, you might hear them called parameters). To let the function know where to find the parameters, you put the parameters in parenthesis, like we did for the string "Hello World".

In [ ]:
print()

Some functions don't need or expect parameters. Notice that the *print* function ran even though we didn't give it any information in the parenthesis. Just remember that some functions can't run without input and will complain.

The plus sign is an **operator**. (quote symbols are not quite operators, but they are special)
Python has lots of operators that you've probably seen in math class.  
They mostly work exactly like you think they would for numbers. What do you think happens when you add two strings?

In [ ]:
print("Hello" + "World")

HelloWorld

Notice **print** does not put a space between the strings  
Spaces (and most other characters) can be put anywhere in a string.

In [ ]:
print("Hello " + "World")
print("Hello" + " World")
print("Hello " + "World ")

Hello World
Hello World
Hello World

Also remember that when you define a string, the pair of quotes must match. Try mismatching the quote symbols and see what happens:

In [ ]:
print("Hello World')

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-6-3529077548.py, line 1)

In [ ]:
print('Hello World")

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-7-2803455855.py, line 1)

Python found an **opening** quote but didn't find a matching **closing** quote so it complains that the string was **unterminated**.  


Does that make sense to you?

What do you think Python would do if you tell it to do multiplication with strings?  
How might you try that?

In [ ]:
print("hello " * 3)

hello hello hello

You can multiply and add strings in the same print statement!

In [ ]:
print("Well, " + "hello " * 4 + "world!")

Well, hello hello hello hello world!

But not every math operator works with strings...

In [ ]:
print("Hello"/"world")

TypeError: unsupported operand type(s) for /: 'str' and 'str'

Python can also count for you, using the **function** *len* (short for length).
*len* expects an input so it has something to count and it will complain if you don't give it anything.

In [ ]:
len()

TypeError: len() takes exactly one argument (0 given)

In [ ]:
len("Hello World")

11

Here we use *len* to count how many letters there are in the string "Hello World". Notice that *len* considers the space a character, just like the alphabetic characters.

In [ ]:
len("Well, " + "hello " * 4 + "world!")

36

### Exercise

Use *print* and a Math operator to tell us how much you like your favorite food

## **Numbers**

Now let's try using Python operators with numbers.

In [ ]:
print(4 + 2)
print(4 - 2)
print(4 * 2)
print(4 / 2)

6
2
8
2.0

Where order of operations matters (If you've seen PEMDAS in math class), you can use parenthesis to group operations.

In [ ]:
print(2 * (4 + 6))
print((10 + 6) / (9 - 1))

20
2.0

Python also has a *modulo* operator that is common in programming. The percent (%) symbol is used for *modulo* which is just the remainder AFTER you've done division.  

This is handy when you need to know what is left over. For example, if you have 25 jelly beans and 8 people, how many jelly beans are left over when everyone has been given an equal amount?

In [ ]:
print(25 % 8)

1

To get the divisor for a division problem, use two slashes (//), the *floor division* operator.

Example: 25 // 8 (result is 3)

### Exercises

How could you use *modulo* to figure out if a number is odd or even?

#### Hint:

What happens when you divide any odd number by 2?

#### What is the difference between the following two print statements?

In [ ]:
print("20" + "20")
print(20 + 20)

In [ ]:
print("20" * "20")
print(20 * 20)

## **Variables**

Some strings (like supercalifragilisticexpialidocious) or numbers like pi (3.141592653589793238462643383279502) are long and would be a pain to type out over and over.  

Python has **variables** where we can store information and reuse it without typing it all out.


Let's store a long word in a variable called *big_word*

In [ ]:
big_word = "supercalifragilisticexpialidocious"

In [ ]:
print(big_word)

supercalifragilisticexpialidocious

Notice the input I gave **print** was the variable *big_word* NOT the string "big_word"

The **type** of variable is determined by the *value* assigned to the variable. ""supercalifragilisticexpialidocious" is a string so *big_word* is a string variable.

If I assign 3.141592653589793238462643383279502 to a variable called *long_number*, it will be a numeric variable.

In [ ]:
long_number = 3.141592653589793238462643383279502

Operators used with string variables will behave the way strings do.

In [ ]:
print(big_word *3)

supercalifragilisticexpialidocioussupercalifragilisticexpialidocioussupercalifragilisticexpialidocious

Operators used with numeric variables will behave the way numbers do.

In [ ]:
print(long_number * 3)

9.42477796076938

You can't use a variable until you've assigned it a value.

In [ ]:
print("My name is " + name)

NameError: name 'name' is not defined

In [ ]:
name = "Scout"
greeting = "Hello " + name
print(greeting)

Hello Scout

Explain the code cell above using at least one of the following words:

function   print   string   closing   type variable   operator   input   opening   assign   numeric   value   statement   addition   defined

### Important: **Variable assignment** is **NOT** like Math

You can use functions and operators on a variable and assign the result back to the **SAME** variable name and that assignment will **update the variable to the new value**

In [ ]:
points = 25
points = points + 50
print(points)

75

![variable_assignment.png]()

Here's an example with strings:

In [ ]:
name = "Scout"
name = name + name
print(name)

ScoutScout

### Tricky exercise

IF you have:  
first = 8  
second = "alien"  

How do you use use **variable assignment** to swap the values for the two variables?

#### First try

#####  Code for first try  
first = 8  
second = "alien"  
first = second  
second = first

In [ ]:
first = 8
second = "alien"
print("before any swapping:", first, second)

In [ ]:
first = second
print("assigned first to second:", first, second)

In [ ]:
second = first
print("assigned second to first:", first, second)

#### Second try

##### Code for second try
first = 8  
second = "alien"  
extra_variable = first  
first = second  
second = extra_variable

In [ ]:
first = 8
second = "alien"
extra_variable = first
print("before any swapping:", first, second, extra_variable)

In [ ]:
first = second
print("assigned first to second:", first, second, extra_variable)

In [ ]:
second = extra_variable
print("assigned second to extra_variable:", first, second, extra_variable)

#### Third try

##### Code for third try
first = 8  
second = "alien"  
first, second = second, first

In [ ]:
first = 8
second = "alien"
print("before any swapping:", first, second)

In [ ]:
first, second = second, first
print("swapped assignments in one step:", first, second)

##  **f-strings**

In addition to giving **print** multiple inputs for printing with spaces, you can use *formatted strings* or **f-strings**.

An f-string has a "f" character before the pair of quotes defining your string. You can put any Python expression within curly braces inside the f-string's quotes to create dynamic content without operators.

In [ ]:
print(f'Well,{" hello" * 4} world!')

Well, hello hello hello hello world!

## **User input**

The *input* commnand allows you to collect information from a user. You can give input a string as a parameter and *input* will print the string, wait for input and store the information as a string.

In [ ]:
name = input("What is your name?")

What is your name?wpl_python

In [ ]:
print("Hi", name)

Hi wpl_python

### Exercise

Use *input* to collect a "secret word".  
Using *print* and a Math operator to convert the secret word into a hint.  
Example:  
if the secret word is "python", print _ _ _ _ _ _

## **Logical conditions and Booleans**

Decision making is an important part of programming. When we make decisions, we often look for a condition. When the condition can only be True or False, we call it a Boolean or logical condition.  

| Condition    | action |
| -------- | ------- |
| If the traffic light is red | stop the car    |
| If temperature of water is >212| water boils     |
| If test score is < 50  | parents get concerned    |

We can use comparison operators to evaluate conditions:

| Operator    | Description | Example |
| -------- | ------- | ------- |
| == | Equal | a == b |
| != | Not Equal | a != b |
| > | Greater than | a > b |
| < | Less than | a < b |
| >= | Greater than or equal to | a >= b |
| <= | Less than or equal to | a <= b |

Below is a simple example of how you might evaluate a traffic light:

In [ ]:
light = "red" # set the light variable to red
stop_car = (light == "red") # this is true
print(stop_car)

True

In [ ]:
light = "green" # set the light variable to green
stop_car = (light == "red") # this is not true
print(stop_car)

False

Comparison operators for numbers work the way they do in math class

In [ ]:
boiling_point = 212
water_temp = 100
is_boiling = (water_temp > boiling_point)
print(is_boiling)

False

Choosing a meaningful variable name, like boiling_point can help "future you" remember what the code is intended to do.

If you compare two lists, it will compare the lists element by element (NOT the length of the lists)

In [ ]:
group1 = [80, 24, 43]
group2 = [80, 30]
print(f'group1 is greater than group2: {group1 > group2}')

print(f'The length of group1 is greater than group2: {len(group1) > len(group2)}')

group1 is greater than group2: False
The length of group1 is greater than group2: True

If you compare strings, they're evaluated alphabetically

In [ ]:
a = "comparison"
b = "compare"
print(a == b)     # False, they're not the same word
print(a > b)     # True, "comparison" comes after "compare" in the dictionary
print(a < b)     # False

print(f'The length of a ({len(a)}) is less than the lenght of b ({len(b)}): {len(a) < len(b)}')     # False

False
True
False
The length of a (10) is less than the lenght of b (7): False

## **if** statements

Now that you know how to set up a logical condition, you can add decision making to control the flow of your Python code.  

So far in our coding, our code statements are simple and only need one line. When Python code is more complicated, we use whitespace so that Python knows how the code is structured.

An **if** statement will execute a block of code IF a logical condition is true.

In [ ]:
number = 10
if number > 0:
  print("This is a positive number")
  print(f"The number is {number}")

This is a positive number
The number is 10

Notice the two print statements were indented, that tells Python they both "belong" to the if statement and should be printed if (number > 0) is true. Compare the indentation of the next two examples, run them and see how they behave differently:

In [ ]:
 number = -7
if number > 0:
  print("This is a positive number")
  print(f"The number is {number}")

In [ ]:
number = -7
if number > 0:
  print("This is a positive number")
print(f"The number is {number}")

The number is -7

We might want to do something different if the logical condition is false (in addition to what we do when it is true). We can use Python's **if...else** statement.

In [ ]:
number = 10
print(f"The number is {number}")
if number > 0:
  print("This is a positive number")
else:
  print("This is a negative number")

The number is 10
This is a positive number

In [ ]:
number = -7
print(f"The number is {number}")
if number > 0:
  print("This is a positive number")
else:
  print("This is a negative number")

The number is -7
This is a negative number

### Exercise

Remember the modulo operator (%)? It does division but only returns the remainder. Can you write code to use *if...else* and *modulo* to determine if a number is odd or even?

## **while** loops

**while** loops run a block of code until the condition is no longer true

In [ ]:
cake = 10
people = 2
while cake // people > 0:  # the // operator returns the divisor
    print(f"We can all have more cake - there are {cake} piece(s)")
    cake = cake - people

print(f"There isn't enough cake left for everyone. There are {cake} piece(s) of cake and {people} people")

We can all have more cake - there are 10 piece(s)
We can all have more cake - there are 8 piece(s)
We can all have more cake - there are 6 piece(s)
We can all have more cake - there are 4 piece(s)
We can all have more cake - there are 2 piece(s)
There isn't enough cake left for everyone. There are 0 piece(s) of cake and 2 people

## **Guess the number**

In [ ]:
import random

min_num = 1
max_plus_one = 101
the_number = random.randrange(min_num, max_plus_one)
print(f"Guess a number between {min_num} and {(max_plus_one -1)}.")

while True:
    guess = int(input('Enter your guess : '))

    if guess == the_number:
        print(f'Correct! The number is {the_number}!!')
        break
    elif guess < the_number:
        print(f'Your guess, {guess}, is lower than the number')

    elif guess > the_number:
        print(f'Your guess, {guess}, is higher than the number')

In [ ]:
import random

min_num = 1
max_plus_one = 101
the_number = random.randrange(min_num, max_plus_one)
chances = 7
print(f"Guess a number between {min_num} and {(max_plus_one -1)}.\nYou have {chances} chances to guess the number. ")

guesses = 0
stumped = True

while guesses < chances:

    guesses += 1
    guess = int(input('Enter your guess : '))

    if guess == the_number:
        print(f'Correct! The number is {the_number}!! You got it on attempt {guesses}')
        stumped = False
        break
    elif guess < the_number:
        print(f'Your guess, {guess}, is lower than the number')

    elif guess > the_number:
        print(f'Your guess, {guess}, is higher than the number')

if stumped:
    print(f'You ran out of chances. The number was {the_number}')